<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <!--<aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments=".\bin\Debug\netcoreapp3.1\iChiba.Portal.PublicApi.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\.log" hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
					<environmentVariable name="COMPLUS_ForceENC" value="1" />
				</environmentVariables>
			</aspNetCore>-->
    <aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments=".\bin\Debug\netcoreapp3.1\iChiba.Portal.PublicApi.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\.log" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
<!--ProjectGuid: b1dc5eda-b68c-4a42-b3c1-39e844384312-->